body {
    background-color:lightblue; text-align: center;
}
table,th,td {
  background-color:lightgreen; border:1px solid black ;
}
td{
    text-align:center ;
}
button{
   font-style: bold;; color:red;
}
